<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<style>
		html, body {width: 100%; height: 100%; padding: 0; margin: 0;}
		/* Some Styles */
	</style>
	<script src="https://d3js.org/d3.v3.min.js"></script>
</head>
<body>

<script>
var $_data = <%- JSON.stringify($data, undefined, minified ? undefined : '\t') %>;
</script>

<!-- Custom scripts are here. -->

</body>
</html>